<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launch"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launch_round"
        android:supportsRtl="true"
        android:name="my.first.tasbeh.ZikrApp"
        android:theme="@style/Theme.Tasbeeh">
        <activity android:name="my.first.tasbeh.ui.counter.CounterActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>

        <activity
            android:name="my.first.tasbeh.ui.main.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>